# Eclipse
.settings/
.metadata
.project
.classpath
Servers
bin
target/

# SpringSource Tool Suite
.springBeans

#Idea
.idea
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
out/
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
/src/main/resources/META-INF/persistence.xml
/src/main/webapp/WEB-INF/spring/appServlet/servlet-context.xml
